.card {
  flex-basis: 250px;
  flex-grow: 1;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 20px 30px rgba(0,0,0,.2);

}

.card img {
  width: 150px;
  height: 120px;
}
.card h3 {
  flex-grow: 1;
  padding-left: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}